<template>
  <header class="header">
    <!-- this is how you render dynamic text -->
    <h1>{{ welcomeMessage }}</h1>
    <p>{{ timeSpentMessage }}</p>
    <!--
      ok easy enough. now look at the script part of this component
      first before you continue reading here.
    -->

    <h2>CHILD COMPONENT</h2>

    <!-- oh look, a child component-->
    <counter />

    <h2>Passing Data via props</h2>
    <counter title="YO I'M A TITLE" />

    <h2>DATA BINDING</h2>
    <!--
      what if we want to bind dynamic data?
      just use the colon:
    -->
    <counter :title="timeSpent" />

    <!--
      ok. now it's time to have a look at the counter.vue
      file
    -->
    
    <h2>LOOPS</h2>

    <!-- cool. now let's do some loops-->
    <counter
      v-for="index in 3"
      :title="'loopy-' + index"
      :index="index"
      :key="'counter' + index"
    />

    <h2>SLOTS / Nesting</h2>
    <wrapper color="red">
      Yo Dawg
      <wrapper color="orange">
        I heard
        <wrapper color="#ffe000">
          You Like Components
          <wrapper color="green">
            so I put a component
            <wrapper color="blue">
              in your component
              <counter />
              <br />
              <br />
              <h2>pretty cool, huh?</h2>
              <counter />
            </wrapper>
          </wrapper>
        </wrapper>
      </wrapper>
    </wrapper>
  </header>
</template>

<script>
import counter from './counter.vue';
import wrapper from './wrapper.vue';

// this is the topmost component,
// the app component.
export default {
  name: 'app',
  data () {
    // this component's data goes here.
    // stuff you want to hold on to
    // or manipulate or whatever.
    // anything in here you can access and manipulate
    // using this.$KEY
    // 
    // If you update the data programmatically,
    // the whole component will know about this
    // automatically. (see computed properties)
    return {
      firstName: 'Jamie',
      lastName: 'Kosoy',
      timeSpent: 0,
      timeoutId: null
    }
  },

  // computed properties:
  // getter functions for your data. they do not have function parameters.
  // access their result by this.$FUNCTIONNAME (without barackets)
  // they are good for transforming and combining the data in some way.
  // mostly to get the data ready to be displayed
  computed: {
    fullName () {
      return this.firstName + ' ' + this.lastName;
    },

    welcomeMessage () {
      return 'Welcome ' + this.fullName + '!';
    },

    timeSpentMessage () {
      return this.timeSpent > 4 ?
        `Wow, you must really like it here. You spent like ${ this.timeSpent }s here!` :
        'Looks like you\'re new around here...'
    }
  },

  // methods exist to manipulate your data and call other methods
  methods: {
    increaseTimeSpent () {
      this.timeSpent++;
    },

    updateLoop () {
      this.timeoutId = setTimeout( () => {
        this.increaseTimeSpent();
        this.updateLoop();
      }, 1000 );
    }
  },

  // this function is called when the component is first rendered
  mounted () {
    this.updateLoop();
  },

  // this function is called before the component is destroyed
  beforeDestroy () {
    clearTimeout( this.timeoutId );
  },

  // if this component has child components,
  // specify those here
  components: { counter, wrapper }
}
</script>

<style>
/*
  every component has it's own stylesheet.
  since this is the main app component, I tend to put global styles here.
  this is just a personal preference, not a rule.
*/
* { margin: 0; padding: 0; box-sizing: border-box; }

:root { --black: #000; --gray: #666; --blue: #06f; }

body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--gray);
  padding: 50px;
}

h1, h2 { font-size: inherit; margin-bottom: 10px; }

h2 { margin-top: 10px; }

</style>
