<template>
	<div class="counter">
		<!-- only render this element if a title exists -->
		<h1 v-if="title">Counter Title: {{ title }}</h1>
		<!--
			this is how you add event handlers. @$EVENTNAME
			event handlers are methods
		-->
		<p>times clicked: {{ timesClicked  }}</p>
		<button @click="buttonClickedHandler">Update Counter {{ title }}</button>
	</div>
</template>

<script>
export default {
	// the 'name' property is how other components can render this component.
	// in this case: <counter>
	name: 'counter',

	// this is how parents can pass data into this component.
	// anything in here you can access and manipulate by this.$KEY
	props: [ 'title', 'index' ],

	data () {
		return {
			timesClicked: 0
		}
	},
	methods: {
		buttonClickedHandler () {
			this.timesClicked++;
		}
	},

	// watch methods are executed every time
	// the property with same changes it's value
	watch: {
		timesClicked () {
			// this emits an event that the parent can handle with @EVENTNAME
			this.$emit( 'change', this.timesClicked, this.index );
		}
	}
}
</script>

<style>
.counter {
	padding: 20px;
	margin: 20px;
	border: 1px #ccc solid;
}
</style>