<template>
	<div class="wrapper" :style="wrapperStyle">
		<!-- this is where the children of this component are rendered -->
		<div class="wrapper-child-container">
			<slot />
		</div>
	</div>
</template>

<script>
export default {
	name: 'wrapper',
	props: [ 'color' ],
	computed: {
		wrapperStyle () {
			return { borderColor: this.color, color: this.color }
		},
	}
}
</script>

<style>
.wrapper {
	border: 10px #ccc solid;
	padding: 5px;
}

	.wrapper-child-container {
		padding: 30px;
		transform-origin: 50%;
		transform: rotate(5deg);
	}
</style>